<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRDYKhNLhqPhnYzzdXNmpmVNTDld-bFSo</string>
	<key>GCM_SENDER_ID</key>
	<string>913506928981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marketplace</string>
	<key>PROJECT_ID</key>
	<string>marketplace-c7b29</string>
	<key>STORAGE_BUCKET</key>
	<string>marketplace-c7b29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913506928981:ios:523973b001d415aeaf47dc</string>
</dict>
</plist>